# MBTI Personality Prediction using NLP

## Data Cleaning

In [24]:
main_folder = 'C:/Users/tejas/Desktop/Hackathons/MBTI Personality test challenge'

In [25]:
import pandas as pd
import nltk
import string
import re

In [26]:
#Loading the data
df = pd.read_csv(main_folder+'/data/train.csv',sep = ',')
df_test = pd.read_csv(main_folder+'/data/test.csv',sep = ',')
df.head(2)

C:\Users\tejas\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (162,163,164,165,166,167,168,169,170,171,172,173,174,175,178,179,180,181,182,183,184,185,186,187,188,191,192,193,194,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,idx,type,posts,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255,Unnamed: 256,Unnamed: 257,Unnamed: 258,Unnamed: 259
0,0,ENFP,'I like that you are kind,as INFJ I find that I love you all easily,Its so natural to fit next to you and relax,enjoy time and not feel like i have to do thi...,and other social...|||I found that when this ...,and he is laying out hints and you just are g...,me and a enfj i know are in the same place,though I still love him,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,INFJ,'^ Oh my you are right. Who really talks like ...,but this love must be fluid? Entp/infj intera...,maybe getting close to two years. To anyone w...,I could cuddle and bond non sexually for the ...,the folks I trust completed are those who not...,trust has become a very interesting thing for...,but nice for sure.|||How long this difficult ...,but I do like someone very much,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df.drop(0,inplace = True)
df_test.drop(0,inplace = True)

In [28]:
# def list_conv(x):
#     return list(x)
# df['1'].apply(list_conv)

In [29]:
first_two_cols_train = df.loc[:,('idx','type')]
first_col_test = pd.DataFrame(df_test.loc[:,'idx'],columns = ['idx'])

In [30]:
df_p = pd.read_csv(main_folder+'/data/train.csv',sep = ',')
df_test_p = pd.read_csv(main_folder+'/data/test.csv',sep = ',')

C:\Users\tejas\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (162,163,164,165,166,167,168,169,170,171,172,173,174,175,178,179,180,181,182,183,184,185,186,187,188,191,192,193,194,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [31]:
df_p.drop(0,inplace = True)
df_test_p.drop(0,inplace = True)

In [32]:
df_p.drop(['idx','type'],axis = 1,inplace = True)
df_test_p.drop(['idx'],axis = 1,inplace = True)

In [33]:
def add_tab(x):
    return str(x)+'\t'
first_two_cols_train['idx'] = first_two_cols_train['idx'].apply(add_tab)
first_two_cols_train['type'] = first_two_cols_train['type'].apply(add_tab)

first_col_test['idx'] = first_col_test['idx'].apply(add_tab)

In [34]:
df_f_train = pd.concat((first_two_cols_train,df_p),axis = 1)
df_f_test = pd.concat((first_col_test,df_test_p),axis = 1)

In [35]:
df_f_train.to_csv(main_folder+'/Data/mid_train_data.csv',index = False)
df_f_test.to_csv(main_folder+'/Data/mid_test_data.csv',index = False)

In [36]:
#Reading the datasets with \t as seperator
df_train = pd.read_csv(main_folder+'/Data/mid_train_data.csv',sep = '\t',names = ['idx','type','posts'])
df_test = pd.read_csv(main_folder+'/Data/mid_test_data.csv',sep = '\t',names = ['idx','posts'])

In [37]:
df_test.drop(0,inplace = True)
df_train.drop(0,inplace = True)

In [38]:
df_train.sample(5)

       idx   type                                              posts
5335  5335  ,ENTP  ,'When I read threads like this it feels like ...
4221  4221  ,INTP  ,'You could say that Karma acts out in society...
2358  2358  ,INFP  ,'Thank you very much for your feedback. I wil...
475    475  ,INTP  ,It doesn't really point to anything. Not that...
5025  5025  ,INFP  ,'Yes I love music festivals :) But I've mainl...

In [39]:
def remove_comma(x):
    return x[1:]
df_train['type'] = df_train['type'].apply(remove_comma)
df_test['posts'] = df_test['posts'].apply(remove_comma)
df_train['posts'] = df_train['posts'].apply(remove_comma)

In [40]:
df_train.sample(5)

       idx  type                                              posts
4071  4071  ISFP  5w4-4w5-8w9 Sp/Sx  http://stwww.skateboarderma...
1274  1274  INFJ  Hi, I'd like to change my username to: fuliaju...
4019  4019  ISFJ  '8.5/10 Interesting. I like the colors. Almost...
32      32  INTP  I think the right question pertaining to God w...
1723  1723  INFJ  'Dear bubbleboy,  Congratulations on graduatin...

### Data Cleaning done (partially). 
* Remove Numbers
* convert all posts to lower case
* remove punctuation
* remove stop words
* Lemitization (preserves meaning of the word in english language)

In [41]:
def rem_nos(x):
    return re.sub(r'\+d','',x)
df_train['posts'] = df_train['posts'].apply(rem_nos)

In [42]:
def lower_case(x):
    return x.lower()
df_train['posts'] = df_train['posts'].apply(lower_case)

In [43]:
def rem_punc(x):
    translator = str.maketrans('','',string.punctuation)
    return x.translate(translator)
df_train['posts'] = df_train['posts'].apply(rem_punc)

In [44]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
# nltk.download('stopwords')
# nltk.download('punkt')

def rem_stop_words(x):
    stop_words = set(stopwords.words('english'))
    word_tokens = word_tokenize(x)
    filtering_txt = [word for word in word_tokens if word not in stop_words]
    return filtering_txt

df_train.posts = df_train.posts.apply(rem_stop_words)

In [52]:
# from nltk.stem.porter import PorterStemmer
# def stem(x):
#     stem1 = PorterStemmer()
#     return [stem1.stem(word) for word in x]
# df_train.posts.apply(stem)

In [54]:
from nltk.stem import wordnet
lemma = wordnet.WordNetLemmatizer()
def lemmatize_word(x):
    return [lemma.lemmatize(word,pos = 'v') for word in x] #v = verb gives context which is part of parts of speech.
df_train.posts = df_train.posts.apply(lemmatize_word)

In [57]:
df_train

       idx  type                                              posts
1        1  INFJ  [oh, right, really, talk, like, sound, pretty,...
2        2  INFP  [yep, yep, yep, especially, last, one, yep, ag...
3        3  INFJ  [things, generalizable, entire, population, wo...
4        4  INTJ  [work, student, hobbies, study, game, read, dv...
5        5  ENTJ  [think, fuck, 3w4, sx, hostility, ring, freak,...
...    ...   ...                                                ...
6935  6935  INFJ  [well, mostly, dont, like, avocado, primary, p...
6936  6936  INFJ  [httpprikachicomimages8018386801yjpg, httpprik...
6937  6937  INFJ  [cigarettes, like, hamsters, perfectly, harmle...
6938  6938  INTJ  [bookshelf, pornas, nonamerican, please, excus...
6939  6939  INFJ  [respect, opinion, dont, really, know, enfps, ...

[6939 rows x 3 columns]